/* RESEST */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* FOR CONTAINER */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-box{
    width: 62.5rem;
    height: 100%;
     display: flex;
    flex-direction: column;
    
}
/* FOR HEADER */
header{
    width: 100%;
    height: 25rem;
   display: flex;
   flex-direction: column;
   margin-top: 2.5rem;
   background-color: #eeee;
}
.logo-list{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-list > img{
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    background-color: #eeee;
}
h1{
    padding-left: 1.25rem;
    font-size: 3.125rem;
    font-weight: bold;
}
.form-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.8125rem;
}

.input-list{
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 5%;
    text-align: center;
}
/* CREO UN BOTTONE PER AGGIUNGERE ALLA LISTA LE COSE DA FARE */
.brt-list-header{
    width: 12.5rem;
    height: 3.125rem;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1.25rem;
    text-align: center;
    line-height:3.125rem;
    cursor: pointer;
}
/* CREAZIONE DEL MAIN */
main{
    display: flex;
    flex-direction: column;
    background-color: beige;
}
.list{
    display: flex;
    justify-content: space-between;
}
ul > li{
    list-style: none;
    padding: .62
    5rem .75rem;
}

i{
    cursor: pointer;
}