<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Todo list</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <!-- creo una id app che collega al vue js -->
        <div id="app">
            <!-- creo un contenitore dove tutti i miei elementi -->
            <div class="container">
                <!-- creo un box dove inserisco il mio header e il mio main -->
                <div class="todo-box">
                    <!-- creo un titolo per il mio todolist -->
                    <header>
                        <div class="logo-list">
                            <img src="img/todolist1.jpg" alt="">
                            <h1>Todo list</h1>
                        </div>
                        <div class="">
                            <form class="form-list" @submit.prevent="addList">
                                <input v-model="newList" class="input-list" type="text" name="" placeholder="Inserisci qui le cose da fare" minlength="4" maxlength="20" required>
                                <button type="submit" class="brt-list-header" >Aggiungi</button>
                            </div>
                            </form>
                    </header>
                    <!-- creo un elenco delle cose da fare -->
                    <main>
                        <ul v-for="(todo, index) in todoList" class="list">
                            <li>{{todo.list.text}}</li>       
                        </ul>
                    </main>

                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>